html {
    background-color: #141414;
    font-family: arial;
}

body {
    overflow: hidden;
  }

.header{
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}

header {
    margin-top: 20px;
}

#email {
    right: 7px;
    top: 47px;
    position: absolute;
}

#logo input {
	padding: 20px 0 0 70px;
    transition: 0.3s;
}

#logo input:hover {
    transform: scale(0.9);
}

#logo input {
	height: 30px;
    size: 7px;
}

.parent {
    display: flex;
}

h1 {
    color: white;
    font-size: 65px;
    margin-bottom: 50px;
    margin-top: 150px;
    margin-left: 210px;
}

form[id="logo"] p {
    color: white;
    text-align: right;
    margin-top: 0px;
    margin-right: 40px;
}

form[id="Forumlaire"] {
    color: white;
    font-size: 20px;
}

form[id="Forumlaire"] a {
    color: white;
    font-size: 30px;
}

.container {
    margin-left: 210px;
}

.containerImport {
    margin-left: 460px;
    margin-top: -185px;
}

h2 {
    color: white;
    font-size: 65px;
    margin-bottom: 50px;
}

.alert {
    background-color: red;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 7px;
    border-radius: 5px;

}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


#logout {
    font-size: 20px;
} 

#logoutDiv {
    text-align: right;
    margin-right: 40px;
}


.form {
    font-size: 25px;
    font-weight: 500;
    background-color: #D9D9D9;
    color: #141414;
    padding: 10px;
    border-radius: 5px;
    width: 480px;
    text-indent: 10px;
}

#nameInput {
    margin-bottom: 30px;
    border: solid 3px transparent;
}

#code {
    border: solid 3px transparent;
    width: 510px;
}

#nameText {
    color: white;
    margin-top: 15px;
    font-size: 20px;
}

.form::placeholder {
    color: #141414;
    font-weight: 500;
    font-size: 25px;
}

.vertical {
    border-left: 6px solid white;
    height: 400px;
    position:absolute;
    left: 50%;
    top: 25%;
    border-radius: 5px;
}

#valBtn {
    font-size: 25px;
    background-color: #e50914;
    color: white;
    padding: 10px 45px 10px 45px;
    transition: 0.25s;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#cancelBtn {
    font-size: 25px;
    background-color: transparent;
    border: 3px #8B8B8B solid;
    color: #8B8B8B;
    padding: 10px 45px 10px 45px;
    transition: 0.25s;
    cursor: pointer;
    border-radius: 5px;
}

.bottomBtn {
    margin-top: 150px;
    margin-left: -5px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
}


#valBtn:hover {
    transition: 0.25s;
    transform: scale(0.95);
} 


footer {
    position:absolute;
    bottom:0px;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}

.footer {
    font-size: 20px;
    cursor: default;
    transition: 0.4s;
    color: white;
}

.footer:hover {
    color: rgb(253, 86, 86);
    transition: 0.3s;
}

#website {
    font-size: 20px;
    color: #898888;
}

#website:hover {
    color: white;
}

#websiteDiv {
    margin-top: 15px;
}