html {
    background-color: #141414;
    font-family: arial;
}

body {
    overflow-x: hidden;
}

.header{
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}

header {
    margin-top: 20px;
}

#email {
    right: 7px;
    top: 47px;
    position: absolute;
}

#logo input {
	padding: 20px 0 0 70px;
    transition: 0.3s;
}

#logo input:hover {
    transform: scale(0.9);
}

#logo input {
	height: 30px;
    size: 7px;
}

h1 {
    color: white;
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}

h2 {
    color: white;
    font-size: 30px;
}

.container {
    text-align: center;
}


.alert p{
    font-size: 20px;

}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#logout {
    font-size: 20px;
} 

#logoutDiv {
    text-align: right;
    margin-right: 40px;
}

.success {
    background-color: green;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 7px;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 20px;
}

footer p{
    position:absolute;
    bottom:0;
    width: 100%;
    text-align: center;
}

.footer {
    font-size: 20px;
    cursor: default;
    transition: 0.4s;
    color: white;
}

.footer:hover {
    color: rgb(253, 86, 86);
}

form[id="logo"] p {
    color: white;
    text-align: right;
    margin-top: 0px;
    margin-right: 40px;
}

p {
    color: white;
}

#pseudo:hover {
    color: white;
    cursor: default;
}

#pseudo {
    margin: 15px 100px 0px 100px;
    font-size: 20px;
    color: rgb(90, 90, 90);
    transition: 0.2s;
}

#pp {
    height: 150px;
    width: 150px;
    border-radius: 5px;
    border: 3px solid #141414;
    cursor: default;
    margin-top: 25px;
}

.containerImage {
    display: inline-block;
}

#pseudo_form {
    margin-top: 80px;
}

#pseudo_input {
    padding: 15px;
    font-size: 15px;
    width: 50%;
    border-radius: 7px;
    border: silver solid 3px;
    outline: none;
}

#pseudo_submit {
    padding: 15px 30px 15px 30px;
    border-radius: 7px;
    margin-left: 5px;
    transition: 0.1s;
    border: silver solid 3px;
}

#pseudo_submit:hover {
    transition: 0.1s;
    cursor: pointer;
    transform: scale(0.9);
}