html {
    background-color: #141414;
    font-family: arial;
}

body {
    overflow: hidden;
  }

#logo input {
	padding: 20px 0 0 70px;
    transition: 0.3s;
}

#logo input:hover {
    transform: scale(0.9);
}

#logo input {
	height: 30px;
    size: 7px;
}

h1 {
    color: white;
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}

h2 {
    color: white;
    font-size: 35px;
    margin-top: 150px;
    margin-bottom: 100px;
}


.container {
    text-align: center;
}

.prenom {
    margin-top: 50px;
}

.alert {
    background-color: red;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 7px;
    border-radius: 5px;

}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#logout {
    font-size: 20px;
} 

#logoutDiv {
    text-align: right;
    margin-right: 40px;
}

.success {
    background-color: green;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 7px;
    border-radius: 5px;

}

#pseudo {
    margin: 70px;
    font-size: 50px;
}


#valBtn {
    margin-top: 45px;
    font-size: 25px;
    background-color: white;
    color: black;
    padding: 10px 30px 10px 30px;
    transition: 0.3s;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#valBtn:hover {
    background-color: red;
    color: white;
    transform: scale(0.9);
} 


footer p{
    position:absolute;
    bottom:0;
    width: 100%;
    text-align: center;
}

.footer {
    font-size: 20px;
    cursor: default;
    transition: 0.4s;
    color: white;
}

.footer:hover {
    color: rgb(253, 86, 86);
}

form[id="logo"] p {
    color: white;
    text-align: right;
    margin-top: 0px;
    margin-right: 27px;
}

form[id="Forumlaire"] {
    color: white;
    font-size: 30px;
}
