html {
    background-color: #141414;
    font-family: arial;
}

body {
    overflow: hidden;
}

.header{
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}

header {
    margin-top: 20px;
}

#email {
    right: 45px;
    top: 47px;
    position: absolute;
}

#logo input {
	padding: 20px 0 0 70px;
    transition: 0.3s;
}

#logo input:hover {
    transform: scale(0.9);
}

#logo input {
	height: 30px;
    size: 7px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

#logout {
    font-size: 20px;
} 

#logout:hover {
    color: rgb(253, 86, 86);
} 

#logoutDiv {
    text-align: right;
    margin-right: 40px;
}


#email {
    color: white;
    margin-top: 0px;
}

#pp {
    width: 250px;
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
}

.input {
    font-size: 25px;
    padding: 10px;
    display: flex;
    gap: 20px;
}

.webhost {
    margin-top: 10px;
}

.formu {
    margin-left: 30px;
    display: flex;
}

h2 {
    color: white;
    text-align: center;
}

.profile {
    display: flex;
    justify-content: center;
}

.submit {
    font-weight: bold;
    background-color: white;
    font-size: 20px;
    margin-top: 30px;
    padding: 20px 119px 20px 119px;
    transition: 0.1s;
    border: none;
}

#save:hover {
    background-color: #e50914;
    color: white;
    transition: 0.1s;
    
}

.submit:hover {
    background-color: #636363;
    color: white;
}

.bottomBtn {
    display: flex;
    justify-content: center;
    margin-top: 350px;
    gap: 30px;
}

#exportBtn {
    padding: 20px 100px 20px 100px;
    font-weight: bold;
    font-size: 20px;
    background-color: white;
    transition: 0.1s;
    border-radius: 10px;
}

#exportBtn:hover {
    transform: scale(0.95);
    transition: 0.1s;
}

#deleteBtn {
    padding: 20px 100px 20px 100px;
    font-weight: bold;
    font-size: 20px;
    background-color: #e50914;
    color: white;
    transition: 0.1s;
    border-radius: 10px;
}

#deleteBtn:hover {
    transform: scale(0.95);
    transition: 0.1s;
}

/* CONFIRM DELETE PROFILE*/

#confirmDel {
    width: 100%;
    height: 100vh;
    z-index: 100;
    border: none;
    background-color: #141414;
}

b {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 35px;
    margin-top: 250px;
}

.confirmDiv {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.confirm {
    padding: 20px;
    width: 300px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    background-color: white;
    transition: 0.2s;
}

.confirm:hover {
    background-color: #e50914;
    color: white;
    transform: scale(0.9);
}

