html {
    background-color: #141414;
    font-family: arial;
}

body {
    overflow: hidden;
}

#logo input {
	padding: 20px 0 0 70px;
    transition: 0.3s;
    height: 30px;
    size: 7px;
    animation: fadeStart 1s;
}

#logo input:hover {
    transform: scale(0.9);
}

h1 {
    color: white;
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}


a {
    text-decoration: none;
    color: white;
    animation: fadeStart 1s;
}

a:hover {
    text-decoration: underline;
}

#logout {
    font-size: 20px;
} 

#logout:hover {
    color: rgb(253, 86, 86);
} 

#email {
    color: white;
    margin-top: 0px;
    animation: fadeStart 1s;
}

#logoutDiv {
    text-align: right;
    margin-right: 40px;
}


footer p{
    position:absolute;
    bottom:0;
    width: 100%;
    text-align: center;
}

#divProfiles {
    position:absolute;
    bottom:0;
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.footer {
    font-size: 20px;
    cursor: default;
    transition: 0.2s;
    color: white;
    animation: fadeStart 1s;
}

.footer:hover {
    color: rgb(253, 86, 86);
}


#FormPro a {
    font-size: 50px;
}

#addProfiles {
    font-size: 30px;
    color: #666666;
    text-align: center;

}

#addProfiles:hover {
    color: white;
}

#FormPro {
    text-align: center; 
    transition: 0.4s;
}

#pp {
    height: 200px;
    width: 200px;
    border-radius: 5px;
    transition: 0.1s;
    border: 3px solid #141414;
    cursor: pointer;
}

#pp:hover {
    transform: scale(0.9);
    border: 3px solid white;
    transition: 0.1s;
}

#pseudo:hover {
    color: white;
    cursor: default;
}

#pseudo {
    margin: 25px 100px 0px 100px;
    font-size: 20px;
    color: rgb(90, 90, 90);
    transition: 0.2s;
    font-weight: bold;
}

.container {
    display: inline-block;
    overflow: auto;
}

.profiles {
    animation: animStart 0.4s;
} 

@keyframes fadeEnd {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes animStart {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

@keyframes fadeStart {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}